@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e7eb;
}
.container {
  padding-top: 70px;
  text-align: center;
}
textarea {
  width: 80%;
  height: 10vh;
  display: block;
  margin: 1rem;
  padding: 1rem;
  margin-left: 120px;
}

#output {
  background-color: white;

  height: 10vh;
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  margin-left: 120px;
}
button {
  margin-bottom: 50px;
  font-weight: bold;
  background-color: #cbd5e1;
  padding: 20px 50px;
}
